{% if edit_brand.getId %}
    <h4>Edit Brand</h4>
    <form action='/patch/brand' method='post'>
        <div class='form-group'>
            <input name='_method' value='patch' hidden>
            <input name='id' value='{{ edit_brand.getId }}' hidden>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                value='{{ edit_brand.getName }}'
                autofocus="autofocus"
            >
        </div>

        <button type='submit' class='btn btn-primary'>Update</button>
    </form>
{% else %}
    <h4>New Brand</h4>
    <form action='/post/brand' method='post'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                {% if this_entity == 'brand' %}
                    autofocus="autofocus"
                {% endif %}
            >
        </div>

        <button type='submit' class='btn btn-primary'>Save</button>
    </form>
{% endif %}
