{% extends 'base.html.twig' %}

{% block page %}
<div class='row'>
    <div class='col-md-6'>
        {% include 'maint_form.html.twig' %}
        <br>
        <br>
        <h4>To Manage Store / Brand Associations</h4>
        <h4>Click adjacent <em>View / Edit Associations</em></h4>
        <br>
        <br>
        <br>
        <form action='/delete/{{ this_entities }}' method='post'>
            <input name='_method' value='delete' hidden>
            <button type='submit' class='btn btn-xs btn-danger'>
                Delete All {{ this_entity_names }} -- WARNING!
            </button>
        </form>
    </div> <!-- End Col -->

    <div class='col-md-6'>
        {% if crud_header is not empty %}
            {% include 'maint_list.html.twig' with {'list_header': crud_header, items: crud_items} %}
        {% endif %}

        {% include 'maint_list.html.twig' %}
    </div> <!-- End Col -->
</div> <!-- End Row -->
{% endblock %}
