{% if edit_store.getId %}
    <h4>Edit Store</h4>
    <form action='/patch/store' method='post'>
        <div class='form-group'>
            <input name='_method' value='patch' hidden>
            <input name='id' value='{{ edit_store.getId }}' hidden>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                value='{{ edit_store.getName }}'
                autofocus="autofocus"
                autocomplete="off"
            >
        </div>

        <button type='submit' class='btn btn-primary'>Update</button>
    </form>
{% else %}
    <h4>New Store</h4>
    <form action='/post/store' method='post'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                {% if this_entity == 'store' %}
                    autofocus="autofocus"
                {% endif %}
                autocomplete="off"
            >
        </div>

        <button type='submit' class='btn btn-primary'>Save</button>
    </form>
{% endif %}
